@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
    padding: 20px;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

#titulo{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 21px;
}

.contenedor{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedorAmin,.contenedorYaser,.contenedorIsma,.contenedorSara{
    width: 21.4%;
}

.contenedorAmin{
    background-color:#ffd275;
}

.contenedorYaser{
    background-color: #40798c;
}
.contenedorIsma{
    background-color: #ffd275;
}

.contenedorSara{
    background-color: #70a9a1;
}
table{
    width: 261px;
    align-content: center;
    justify-content: center;
    height: 400px;
}
table td{
    background-color: #c5edac;
}


#btn1{
    margin: 25px;
    height: 50px;
    width: 150px;
    padding: .375rem .75rem;
    border: 1px solid #007bff;
    border-radius: .25rem;
    color: #007bff;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out;
}

#boton{
    display: flex;
    align-items: center;
    justify-content: center;
}

